<html>
    <head>
    	<title>Score Page</title>
    </head>
    <body>
        <h1>You score</h1>
       	<h3>
          {{score}}
        </h3>
        <br>
        <p>
          <img src="http://2.bp.blogspot.com/-u-Sm071gnKg/UPsKqE8Q1cI/AAAAAAAAADk/l8FHPnTDyKw/s1600/well+it's+something.png" style="width:250px;height:300px">
        </p>
        <br>
        <br>
        <div>
          <a href="http://localhost:8080/question/{{nav.prev}}" class="button" role="button">
            <button>prev</button>
          </a>
        </div>
    </body>
</html>
